appdirs==1.4.4
audeer==1.18.0
audiofile==1.0.3
audtorch==0.6.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
dataclasses==0.6
decorator==5.1.1
idna==3.3
importlib-resources==5.4.0
jmespath==0.10.0
joblib==1.1.0
librosa==0.9.1
llvmlite==0.36.0
lpips==0.1.4
numba==0.53.1
numpy==1.19.5
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
pooch==1.6.0
protobuf==3.19.4
pycparser==2.21
pyparsing==3.0.7
python-dateutil==2.8.2
pytorch-msssim==0.2.1
pytz==2021.3
requests==2.27.1
resampy==0.2.2
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
SoundFile==0.10.3.post1
sox==1.4.1
tabulate==0.8.9
tensorboardX==2.5
threadpoolctl==3.1.0
torch==1.10.2
torchvision==0.11.3
tqdm==4.63.0
typing-extensions==4.1.1
urllib3==1.26.9
zipp==3.6.0
